doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    if !auth
      script(data-main="/js/guest_main.js" src="/js/libs/require.js")
  body
    block content
